/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --ally-color: rgb(150, 206, 180);
  --enemy-color: rgb(255, 173, 96);
  --ally-background: rgba(150, 206, 180, 0.3);
  --enemy-background: rgba(255, 173, 96, 0.3);
  --text-color: rgb(50, 50, 50);
  --accent-color: rgb(46, 80, 119);
  --resource-green: #32c956;
  --resource-white: #ffffff;
  --resource-red: #d13030;
  --resource-blue: #4269f5;
  --resource-random: #000000;
}

main,
div {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Noto Sans', serif;
  color: var(--text-color);
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-panel {
  display: flex;
  flex-direction: column;
  height: 78px;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

#start-button {
  padding-inline: 48px;
  padding-block: 6px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#start-button:disabled {
  background-color: lightgray;
}

.action {
  padding-inline: 48px;
  padding-block: 12px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:disabled {
    background-color: lightgray;
  }
}

#board {
  width: 1500px;
  height: 900px;
  background-color: rgb(240, 240, 240);
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 12px;
  border: 1px solid lightgray;

  & #corner-panel {
    display: flex;
    justify-content: space-between;
  }

  & #board-footer {
    flex-grow: 1;
    display: flex;
    gap: 24px;
    height: 176px;
    box-sizing: border-box;
  }

  & #action-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 6px;
  }
}

.corner {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &:not(.is-player) {
    & .resources {
      flex-direction: row-reverse;

      & .resource-label {
        margin-right: 0px;
        margin-left: 6px;
      }
    }
  }

  & .resources {
    display: flex;
    gap: 6px;
    margin-inline: 12px;
    margin-bottom: 6px;

    & .resource-label {
      margin-right: 6px;
    }
  }
}

.character {
  display: flex;
  gap: 12px;
  border-radius: 12px;
  padding: 12px;
  padding-top: 30px;

  &.is-player {
    background-color: var(--ally-background);

    & .avatar-container {
      border-color: var(--ally-color);
    }

    .border {
      transform: scale(-1, 1);
      left: -54px;
    }
  }

  &:not(.is-player) {
    flex-direction: row-reverse;
    background-color: var(--enemy-background);

    & .avatar-container {
      border-color: var(--enemy-color);
    }

    & .effect-panel {
      justify-content: end;
      flex-direction: row-reverse;
    }

    & .avatar {
      transform: scale(-1, 1);
    }
  }

  & .effect-panel {
    display: flex;
    gap: 6px;
    height: 40px;
  }

  & .avatar-panel {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
    align-items: center;
  }

  & .avatar-container {
    display: flex;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
  }

  & .character-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .skill-panel {
    display: flex;
    gap: 12px;
  }

  & .selection-overlay {
    display: none;
    position: absolute;
    inset: 0;
    background-color: orange;
    opacity: 0.4;
    pointer-events: none;
  }

  &.valid-target .selection-overlay {
    display: block;
  }

  &.targeted .avatar-container {
    border-color: red;
  }

  &.dead .avatar {
    filter: grayscale(1);
  }
}

.health-bar {
  width: 120px;
  height: 18px;
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  overflow: hidden;
  position: relative;
  font-weight: bold;
  background-color: white;

  & .progress {
    height: 100%;
    background-color: limegreen;
    transition: width 0.5s ease, background-color 0.5s ease;

    &[data-type='wounded'] {
      background-color: orange;
    }

    &[data-type='critical'] {
      background-color: orangered;
    }
  }

  & .health-bar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.skill {
  position: relative;

  &.inactive .icon {
    filter: grayscale(1);
    cursor: not-allowed;
  }

  & .queued-overlay,
  & .cooldown-overlay {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(200, 200, 200, 0.4);
    pointer-events: none;
    color: white;
    font-weight: bolder;
    font-size: 60px;
  }

  &.queued .queued-overlay,
  &.on-cooldown .cooldown-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.effect {
  position: relative;
  z-index: 1;

  &.queued {
    animation: blink 600ms infinite;
  }

  & .effect-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
  }
}

.effect-description {
  display: flex;
  flex-direction: column;
  padding-block: 6px;
  gap: 6px;

  & .effect-content {
    font-weight: bold;
  }

  & .effect-duration {
    font-size: 14px;
    font-style: italic;
  }
}

.icon {
  width: 90px;
  height: 90px;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}

.mini {
  width: 36px;
  height: 36px;
}

.border {
  position: absolute;
  width: 190px;
  height: 190px;
  top: -59px;
  left: -42px;
  pointer-events: none;
}

.cost-panel {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  gap: 6px;
  margin-inline: 6px;
}

.resource {
  width: 18px;
  height: 18px;
  border: 1px solid black;

  &[data-type='green'] {
    background-color: var(--resource-green);
  }

  &[data-type='white'] {
    background-color: var(--resource-white);
  }

  &[data-type='red'] {
    background-color: var(--resource-red);
  }

  &[data-type='blue'] {
    background-color: var(--resource-blue);
  }

  &[data-type='random'] {
    background-color: var(--resource-random);
  }
}

#highlight {
  flex-grow: 1;
  background-color: rgb(220, 220, 220);
  border: 1px solid lightgray;
  border-radius: 12px;
  display: flex;
  padding: 12px;
  gap: 12px;

  & #highlight-icon {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }

  & #highlight-details-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
  }

  & #highlight-title {
    font-weight: bold;
    font-size: 18px;
  }
}

.energy-selector {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  padding: 18px;
  align-items: center;

  & .energy-selector-resource {
    display: flex;
    gap: 6px;
  }

  & .energy-selector-control {
    border: none;
    border-radius: 6px;
    padding-inline: 12px;
  }

  & .energy-selector-actions {
    display: flex;
    gap: 6px;
  }

  & .action {
    padding-inline: 12px;
    padding-block: 6px;
    margin-top: 6px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
